In [7]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 3]]
          )
s1

a  1   -1.180508
   2   -0.769613
   3    1.095883
b  1   -0.662792
   2    0.199771
c  3    1.626234
   1   -0.921805
d  2   -1.047595
   3   -0.253849
dtype: float64

In [8]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [9]:
display(s1)

a  1   -1.180508
   2   -0.769613
   3    1.095883
b  1   -0.662792
   2    0.199771
c  3    1.626234
   1   -0.921805
d  2   -1.047595
   3   -0.253849
dtype: float64

In [10]:
s1['a']

1   -1.180508
2   -0.769613
3    1.095883
dtype: float64

In [11]:
s1[['b','c']]

b  1   -0.662792
   2    0.199771
c  3    1.626234
   1   -0.921805
dtype: float64

In [12]:
s1['b':'d']

b  1   -0.662792
   2    0.199771
c  3    1.626234
   1   -0.921805
d  2   -1.047595
   3   -0.253849
dtype: float64

In [13]:
display(s1)
s1['a'][3]

a  1   -1.180508
   2   -0.769613
   3    1.095883
b  1   -0.662792
   2    0.199771
c  3    1.626234
   1   -0.921805
d  2   -1.047595
   3   -0.253849
dtype: float64

1.0958825711538234

In [14]:
s1.loc['b',1]

-0.662792012644015

In [15]:
#unstack() 把資料變成不堆疊資料像excel
#level預設值是-1   如果是0,ABCD索引在上面  如果是1,ABCD索引在左邊
#.T索引交換
#stack轉回成堆疊資料

s1.unstack(level=0).T.stack()

a  1   -1.180508
   2   -0.769613
   3    1.095883
b  1   -0.662792
   2    0.199771
c  1   -0.921805
   3    1.626234
d  2   -1.047595
   3   -0.253849
dtype: float64