In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['d','f','e'],
             index=['台北','台中','台南','高雄']
            )
frame

           d         f         e
台北  0.088733  0.691136  0.341546
台中  1.018173 -0.141416 -0.531495
台南  1.010593  1.112128  1.076334
高雄  0.172846  0.648005  0.421548

In [2]:
#abcolute 轉成絕對值
np.absolute(frame)

           d         f         e
台北  0.088733  0.691136  0.341546
台中  1.018173  0.141416  0.531495
台南  1.010593  1.112128  1.076334
高雄  0.172846  0.648005  0.421548

In [3]:
#使用for in 讀取DataFrame
for column in frame:
    for item in frame[column]:
        print(item)
    print("=======")

0.08873340036262058
1.0181725053412034
1.0105932321312268
0.1728462570684563
=======
0.6911361926331121
-0.14141602613860985
1.1121281828903318
0.6480049545096567
=======
0.34154553166914875
-0.5314945052151597
1.0763342472464728
0.4215484324210664
=======

In [4]:
#使用for in 讀取DataFrame
for column in frame:
    print(np.abs(frame[column]))

台北    0.088733
台中    1.018173
台南    1.010593
高雄    0.172846
Name: d, dtype: float64
台北    0.691136
台中    0.141416
台南    1.112128
高雄    0.648005
Name: f, dtype: float64
台北    0.341546
台中    0.531495
台南    1.076334
高雄    0.421548
Name: e, dtype: float64

In [5]:
np.max(frame,axis=0)

d    1.018173
f    1.112128
e    1.076334
dtype: float64

In [6]:
np.max(frame,axis=1)

台北    0.691136
台中    1.018173
台南    1.112128
高雄    0.648005
dtype: float64

In [7]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    0.929439
f    1.253544
e    1.607829
dtype: float64

In [8]:
#使用dataFrame的method
frame.max(axis=0) - frame.min(axis=0)

d    0.929439
f    1.253544
e    1.607829
dtype: float64

In [9]:
def fun1(series):
    print(series.name)
    return series.max() - series.min() + 1

frame.apply(fun1)

d
f
e

d    1.929439
f    2.253544
e    2.607829
dtype: float64